# Question 1

In [5]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [6]:
b()

In [7]:
b()

In [8]:
b()

In [9]:
a

6

### Explanation for Question 1

The above program has a global variable named 'a' which is initialized to 0. There are 2 functions b() and c(a).

The line <code>global a</code> indicates that function b() intents to modify the global variable <code>a</code>.
The role of function b() is to call function c(a) and increment the value of global variable <code>a</code> to a + 2. 

When <code>b()</code> is called for the first time:
1. Initially, the value of a is 0.
2. During the very first execution of function b(), it calls function c(a) with the current value of a(which is 0).
3. Function c(a) has code which increments the value of variable a by 2 and returns the new value to function b().

When <code>b()</code> is called for the second time:
1. Now the value of variable <code>a</code> is 2.
2. Again, the value of a is incremented by 2 when function c(a) is called during the execution of function b().
3. After the completion of function b() for the second time, the value of <code>a</code> has become <code>4</code>

When <code>b()</code> is called for the third time:
1. The value of "a" is currently 4.
2. Function b() is called for the third time, which calls function c(a) which increments the value of "a" by a + 2 again.
3. Now, the value of "a" has become 6.

Finally, the value of variable "a", which is 6, is printed to the console.

# Question 2

In [19]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File "+file_name+" not found")

file_name = "midterm.py"
file_length(file_name)

67

In [20]:
file_name = "idterm.py"
file_length(file_name)

File idterm.py not found

# Question 3

In [25]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    def put_in_pouch(self, item):
        self.pouch.append(item)
    def pouch_contents(self):
        return self.pouch

m = Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kittens")
m.pouch_contents()

['doll', 'firetruck', 'kittens']

In [43]:
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return f"I am a Kangaroo located at location({self.x}, {self.y})"

In [44]:
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kittens")
k.pouch_contents()

I am a Kangaroo located at location(0, 0)

['doll', 'firetruck', 'kittens']

In [45]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at location(3, 0)

# Question 4

In [53]:
def collatz(x):
    if x == 1:
        return [1]
    if x%2 == 0:
        return ([x]+ collatz(x //2))
    if x%2 == 1:
        return ([x] + collatz(3*x+1))

x = 10
n = collatz(x)
print(n)

[10, 5, 16, 8, 4, 2, 1]

# Question 5

In [3]:
def binary(n):
    if n == 0:
        return
    binary(n // 2)
    print(n % 2, end="")

num = 0
print(f"Binary representation of {num}: ", end="")
binary(num)

num = 1
print(f"\nBinary representation of {num}: ", end="")
binary(num)

num = 3
print(f"\nBinary representation of {num}: ", end="")
binary(num)

num = 9
print(f"\nBinary representation of {num}: ", end="")
binary(num)

Binary representation of 0:
Binary representation of 1: 1
Binary representation of 3: 11
Binary representation of 9: 1001

# Question 6

In [3]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.current_heading = ""

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and len(tag) == 2:
            self.current_heading = tag

    def handle_data(self, data):
        if self.current_heading:
            self.headings.append((self.current_heading, data))
            self.current_heading = ""

    def print_headings(self):
        for tag, text in self.headings:
            level = int(tag[1])
            indentation = "  " * (level - 1)
            print(f"{indentation}{text}")

In [4]:
infile = open('w3c.html', 'r')
content = infile.read()
hp = HeadingParser()
hp.feed(content)
hp.print_headings()

W3C Mission
  Principles

# Question 7

In [7]:
import urllib.request

def fetch_urls(url):
        response = urllib.request.urlopen(url)
        html = response.read().decode('utf-8')
        urls = []
        start = 0
        while True:
            start = html.find('<a href="http', start)
            if start == -1:
                break
            end = html.find('"', start + 9)
            urls.append(html[start + 9:end])
            start = end
        return urls

def webdir(url, depth, indent=0):
    if depth < 0:
        return

    print('  ' * indent + url)  

    if depth == 0:
        return

    links = fetch_urls(url)

    for link in links:
        webdir(link, depth - 1, indent + 1)

In [13]:
webdir('https://en.wikipedia.org/wiki/Data_analysis', 2, 0)

# Please NOTE: the below error is because I forcefully stopped the program as it kept printing the URLs.

https://en.wikipedia.org/wiki/Data_analysis
  https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&amp;utm_medium=sidebar&amp;utm_campaign=C13_en.wikipedia.org&amp;uselang=en
    https://collab.wikimedia.org/wiki/Fundraising/Donatewiki_documentation
    https://foundation.wikimedia.org/wiki/Project:Privacy_policy
    https://foundation.wikimedia.org/wiki/Project:About
    https://foundation.wikimedia.org/wiki/Project:General_disclaimer
    https://foundation.wikimedia.org/wiki/Special:MyLanguage/Universal_Code_of_Conduct
    https://developer.wikimedia.org
    https://stats.wikimedia.org/#/donate.wikimedia.org
    https://foundation.wikimedia.org/wiki/Special:MyLanguage/Policy:Cookie_statement
    https://wikimediafoundation.org/
    https://www.mediawiki.org/
  https://ar.wikipedia.org/wiki/%D8%AA%D8%AD%D9%84%D9%8A%D9%84_%D8%A8%D9%8A%D8%A7%D9%86%D8%A7%D8%AA

KeyboardInterrupt:

In [14]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/4d/81/316b6a55a0d1f327d04cc7b0ba9d04058cb62de6c3a4d4b0df280cbe3b0b/prettytable-3.9.0-py3-none-any.whl.metadata
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in c:\users\shoai\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/04/88/39f1f5570eb1d28704b4954c97ee91c3b5604f2949ab8ed40b33c90aaad9/SQLAlchemy-2.0.22-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.22-cp311-cp311-win_amd64.whl.metadata (9.7 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
     ---------------------------------------- 41.2/41.2 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\shoai\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\shoai\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\shoai\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\shoai\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\shoai\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\shoai\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\shoai\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\shoai\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\shoai\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\shoai\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\shoai\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\shoai\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\shoai\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\shoai\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\shoai\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\shoai\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\shoai\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\shoai\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\shoai\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.22-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --------------------------- ------------ 1.4/2.1 MB 29.4 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 26.2 MB/s eta 0:00:00
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.22 sqlparse-0.4.4

# Question 8

In [80]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
%sql sqlite:///mydatabase.db

In [20]:
%%sql
CREATE TABLE Cities (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Tempreature_C INT,
    Rainfall_millimeter INT
);

 * sqlite:///mydatabase.db
Done.

[]

In [49]:
%%sql
INSERT INTO Cities (City,Country,Season,Tempreature_C, Rainfall_millimeter) VALUES ("Mumbai", "India", "Winter", 24.8, 5.9);
INSERT INTO Cities (City,Country,Season,Tempreature_C, Rainfall_millimeter) VALUES ("Mumbai", "India", "Spring", 24.8, 16.2);
INSERT INTO Cities (City,Country,Season,Tempreature_C, Rainfall_millimeter) VALUES ("Mumbai", "India", "Summer", 27.9, 1549.4);
INSERT INTO Cities (City,Country,Season,Tempreature_C, Rainfall_millimeter) VALUES ("Mumbai", "India", "Fall", 27.6, 346.0);
INSERT INTO Cities (City,Country,Season,Tempreature_C, Rainfall_millimeter) VALUES ("London", "United Kingdom", "Winter", 4.2, 207.7);
INSERT INTO Cities (City,Country,Season,Tempreature_C, Rainfall_millimeter) VALUES ("London", "United Kingdom", "Spring", 8.3, 169.6);
INSERT INTO Cities (City,Country,Season,Tempreature_C, Rainfall_millimeter) VALUES ("London", "United Kingdom", "Summer", 15.7, 157.0);
INSERT INTO Cities (City,Country,Season,Tempreature_C, Rainfall_millimeter) VALUES ("London", "United Kingdom", "Fall", 10.4, 218.5);
INSERT INTO Cities (City,Country,Season,Tempreature_C, Rainfall_millimeter) VALUES ("Cairo", "Egypt", "Winter", 13.6, 16.5);
INSERT INTO Cities (City,Country,Season,Tempreature_C, Rainfall_millimeter) VALUES ("Cairo", "Egypt", "Spring", 20.7, 6.5);
INSERT INTO Cities (City,Country,Season,Tempreature_C, Rainfall_millimeter) VALUES ("Cairo", "Egypt", "Summer", 27.7, 0.1);
INSERT INTO Cities (City,Country,Season,Tempreature_C, Rainfall_millimeter) VALUES ("Cairo", "Egypt", "Fall", 22.2, 4.5);

 * sqlite:///mydatabase.db
1 rows affected.

[]

In [52]:
%sql select * from Cities;

 * sqlite:///mydatabase.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 24.8, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [53]:
#Question 8.a
%sql select Tempreature_C from Cities;

 * sqlite:///mydatabase.db
Done.

[(24.8,),
 (24.8,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [54]:
#Question 8.b
%sql select distinct(City) from Cities;

 * sqlite:///mydatabase.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [55]:
#Question 8.c
%sql select * from Cities where Country='India';

 * sqlite:///mydatabase.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 24.8, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

In [56]:
#Question 8.d
%sql select * from Cities where Season='Fall';

 * sqlite:///mydatabase.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [60]:
#Question 8.e
%sql select City, Country, Season from Cities group by City, Country, Season HAVING AVG(Rainfall_millimeter) BETWEEN 200 AND 400;

 * sqlite:///mydatabase.db
Done.

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

In [66]:
#Question 8.f
%sql select City, Country from Cities group by City, Country HAVING AVG(Tempreature_C) > 20 ORDER BY City ASC, Country ASC;

 * sqlite:///mydatabase.db
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [75]:
#Question 8.g
%sql select SUM(Rainfall_millimeter) as "AnnualRainfall" from Cities where City='Cairo';

 * sqlite:///mydatabase.db
Done.

[(27.6,)]

In [79]:
#Question 8.h
%sql select distinct(Season), SUM(Rainfall_millimeter) as "TotalRainfall" from Cities group by Season;

 * sqlite:///mydatabase.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

In [82]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [86]:
capital = [i.upper() for i in words]
print(capital)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [89]:
lower = [i.lower() for i in words]
print(lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [93]:
list_length = [len(i) for i in words]
print(list_length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [96]:
list_inside_list = [[i.upper(), i.lower(), len(i)] for i in words]
print(list_inside_list)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [97]:
length = [i for i in words if len(i) >= 4]
print(length)

['quick', 'brown', 'jumps', 'over', 'lazy']